/*
 * Index Page (sp)
*/
@media screen and (max-width: 760px) {
    .index-logo {
        width: 70vmin;
        left: calc(50% - 35vmin);
        background-size: 70vmin;
    }
    .index-sns {
        bottom: 10vmin;
        a {
            width: 43px; height: 43px;
            font-size: 25px;
            line-height: 45px;
        }
    }
    #index-button {
        width: 20vmin; height: 20vmin;
    }
    #index-button[data-state='true'] .btn-main .short-id-2 span {
        &:nth-child(2) { transform: translateY(-3vmin); }
        &:nth-child(3) { transform: translateY( 3vmin); }
    }
}