@import "./keyframes/common";
@import "./keyframes/preload";
@import "./keyframes/chapter1";
@import "./keyframes/index";
@import "./keyframes/about";

@import "./pages/preload";
@import "./pages/chapter1";
@import "./pages/index";
@import "./pages/about";

@keyframes show-index-page {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Open Sans", "Raleway", sans-serif, Roboto, serif;
}
#stage {
    position: absolute;
    width: 100%; height: 100%;
    top: 0; left: 0;
    overflow: hidden;
}
.preload {z-index: 100;}
.chapters {z-index: 200;}
.main {z-index: 300;}
.about {z-index: 400;}
.chapters, .main, .about { display: none ;}

.chapters { animation: show-index-page 1s ease 31.6s forwards ;}