* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Roboto, serif;
}
.main {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  background-image: url("../../images/diandian.svg");
  background-size: 30px;
  z-index: 100;
}
/* page-frame */
.page-frame {
  position: absolute;
  top: 30px;
  left: 30px;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  div:nth-child(1) {
    position: absolute;
    display: block;
    top: 0;
    height: 5px;
    width: 100%;
    border-top: #666666 dashed 3px;
  }
  div:nth-child(2) {
    position: absolute;
    display: block;
    left: 0;
    height: 100%;
    width: 5px;
    border-left: #666666 dashed 3px;
  }
  div:nth-child(3) {
    position: absolute;
    display: block;
    right: 0;
    height: 100%;
    width: 5px;
    border-right: #666666 dashed 3px;
  }
  div:nth-child(4) {
    position: absolute;
    display: block;
    bottom: 0;
    height: 5px;
    width: 100%;
    border-bottom: #666666 dashed 3px;
  }
}
/* page-title */
.page-title {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 303px;
  height: 78px;
  background: #ffffff;
  div {
    position: relative;
    display: block;
    width: 300px;
    height: 80px;
    animation: top_fade_in .5s;
    background-image: url("../../images/title.svg");
    background-size: 300px;
  }
}
/* page-logo */
.page-logo {
  position: absolute;
  top: 47%;
  left: 50%;
  width: 75px;
  height: 175px;
  transform: translate(-50%, -50%);
  div:nth-child(1) {
    position: absolute;
    left: 0;
    top: 0;
    animation: char-1 5s infinite;
    background-image: url("../../images/logo_1.svg");
    background-size: 75px;
    width: 75px;
    height: 170px;
    z-index: 150;
  }
  div:nth-child(2) {
    position: absolute;
    left: 155%;
    top: -95%;
    background-image: url("../../images/logo_2.svg");
    background-size: 75px;
    width: 75px;
    height: 170px;
    opacity: 0;
    animation: char-2 5s infinite;
  }
  div:nth-child(3) {
    position: absolute;
    left: -200%;
    top: 60%;
    background-image: url("../../images/logo_3.svg");
    background-size: 75px;
    width: 75px;
    height: 170px;
    opacity: 0;
    animation: char-3 5s infinite;
  }
  div:nth-child(4) {
    position: absolute;
    left: -120%;
    top: -200%;
    background-image: url("../../images/logo_4.svg");
    background-size: 75px;
    width: 75px;
    height: 170px;
    opacity: 0;
    animation: char-4 5s infinite;
  }
  div:nth-child(5) {
    position: absolute;
    left: 200%;
    top: 120%;
    background-image: url("../../images/logo_5.svg");
    background-size: 75px;
    width: 75px;
    height: 170px;
    opacity: 0;
    animation: char-5 5s infinite;
  }
}
/* page-click */
.page-click {
  position: absolute;
  right: 75px;
  bottom: 18px;
  width: 100px;
  height: 60px;
  background-color: #ffffff;
  div {
    position: absolute;
    display: block;
    background-image: url("../../images/click.svg");
    background-size: 60px;
    width: 60px;
    height: 60px;
    left: 20px;
    top: 0;
    animation: move 1.5s infinite;
  }
  div:hover {
    cursor: pointer;
  }
}
/* animation part-1 */
@keyframes fade_in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes top_fade_in {
  from {
    opacity: 0;
    top: -25px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
@keyframes move {
  10%, 30%, 50% {transform: rotate(-3deg);}
  20%, 40%, 60% {transform: rotate(3deg);}
  70%, 100% {transform: rotate(0);}
}
/* char part */
@keyframes char-1 {
  0%, 90%, 100% {opacity: 0; left: 0; top: 0;}
  80% {opacity: 1;}
}
@keyframes char-2 {
  0% {opacity: 0; left: 70%; top: -80%;}
  10% {opacity: .6;}
  15%, 80% {opacity: .3; left: 0; top: 0;}
  90% {opacity: 0; left: 70%; top: -80%;}
}
@keyframes char-3 {
  0% {opacity: 0; left: -100%; top: 60%;}
  30% {opacity: .5}
  35%, 80% {opacity: .5; left: 0; top: 0;}
  90% {opacity: 0; left: -100%; top: 60%;}
}
@keyframes char-4 {
  0% {opacity: 0; left: -120%; top: -200%;}
  50% {opacity: .3;}
  55%, 80% {opacity: .3; left: 0; top: 0;}
  90% {opacity: 0; left: -120%; top: -200%;}
}
@keyframes char-5 {
  0% {opacity: 0; left: 200%; top: 120%;}
  70% {opacity: .4;}
  75%, 80% {opacity: .4; left: 0; top: 0;}
  90% {opacity: 0; left: 200%; top: 120%;}
}
/* page-nav */
.page-nav {
  position: absolute;
  top: 31%;
  left: 50px;
  a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 62px;
    margin-bottom: 15px;
    text-decoration: none;
    color: #ffffff;
    background-color: #616161;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
    border-radius: 50%;
    text-align: center;
    opacity: 0;
  }
  a:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px;
  }
  a:nth-child(1) {
    animation: nav-scale .5s forwards;
    animation-delay: 0s;
  }
  a:nth-child(2) {
    animation: nav-scale .5s forwards;
    animation-delay: .1s;
  }
  a:nth-child(3) {
    animation: nav-scale .5s forwards;
    animation-delay: .2s;
  }
  a:nth-child(4) {
    animation: nav-scale .5s forwards;
    animation-delay: .3s;
  }
  li {
    display: block;
  }
  [class^="czs-"] {
    font-size: 28px;
  }
}
@keyframes nav-scale {
  from {opacity: 0; transform: scale(0.4);}
  to {opacity: 1; transform: scale(1);}
}
/* mobile */
@media screen and (max-width: 760px){
  .page-frame {
    position: absolute;
    top: 24px;
    left: 12px;
    width: calc(100% - 24px);
    height: calc(100% - 48px);
  }
  .page-nav {
    top: 33%;
    left: 24px;
    a {
      width: 45px;
      height: 45px;
      line-height: 54px;
    }
    [class^="czs-"] {
      font-size: 25px;
    }
  }
  .page-title {
    width: 245px;
    height: 70px;
    div {
      width: 240px;
      background-size: 240px;
    }
  }
  .page-logo {
    width: 65px;
    top: 48%;
    div {
      transform: scale(.8);
    }
  }
  .page-click {
    bottom: 5px;
    right: 30px;
    width: 90px;
    div {
      width: 55px;
      height: 55px;
      background-size: 55px;
    }
  }
}
/* About page start */
.about {
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;
  bottom: 0;
  background-color: #ffffff;
  background-size: 28px;
  background-image: url("../../images/diandian.svg");
  z-index: 1000;
  opacity: 0;
  animation: about-page-fade-in .5s forwards;
}
.about-frame {
  position: absolute;
  top: 35px;
  left: 40px;
  width: calc(100% - 95px);
  height: calc(100% - 80px);
  border: 10px solid #add2c9;
  background-color: #faf9f9;
  border-radius: 35px;
  box-shadow: 0 0 12px #4d4d4d inset;
}
.about-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: auto;
  height: auto;
  animation: about-close-button-in .2s .5s forwards;
  transform: scale(0);
  transition: cubic-bezier(.17,.67,.83,.67);
  z-index: 1000;
  div:nth-child(1) {
    position: absolute;
    display: block;
    width: 123px;
    height: 123px;
    top: 10px;
    right: 10px;
    border-radius: 15px;
    background-color: #5c7893;
    box-shadow: 0px 0px 6px #616161;
    transform-origin: center;
    transform: rotate(-12deg);
    z-index: 1001;
  }
  div:nth-child(2) {
    position: absolute;
    display: block;
    width: 120px;
    height: 120px;
    top: 10px;
    right: 10px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 0px 6px #616161;
    z-index: 1002;
    i {
      position: absolute;
      left: 36px;
      top: 36px;
      font-size: 50px;
      color: #404b69;
    }
  }
  div:nth-child(2):after {
    content: "";
    position: absolute;
    display: block;
    top: 10px;
    left: 9px;
    width: calc(100% - 23px);
    height: calc(100% - 23px);
    border-radius: 15px;
    border: 2px dashed #404b69;
    z-index:1003;
  }
  div:nth-child(2):hover {
    animation: about-hover .4s forwards;
  }
}
.about-close:hover {
  cursor: pointer;
}
.about-profile {
  position: absolute;
  display: block;
  left: 40px;
  width: calc(100% - 80px);
  height: calc(100% - 72px);
  font-family: "PingFang SC", "PingFang SC", yahei, serif;
  color: #666666;
  text-align: center;
  .about-title {
    position: relative;
    margin: 150px auto;
    height: 230px;
    .about-title__avatar {
      position: relative;
      background-image: url("../../images/avatar.jpg");
      background-size: 120px;
      width: 120px;
      height: 120px;
      margin: 0 auto;
      border-radius: 50%;
      border: #5c7893 solid 6px;
    }
  }
  .about-info {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    margin-top: -130px;
    text-align: center;
    .about-info-list {
      text-align: left;
      border-bottom: #d0d07e solid 2px;
      line-height: 30px;
      margin-bottom: 10px;
    }
    .about-info-list:before{
      content: "";
      display: block;
      position: relative;
      width: 10px;
      height: 10px;
      left: -20px;
      top: 30px;
      background-color: #d0d07e;
      border-radius: 50%;

    }
  }
}
@keyframes about-page-fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes about-close-button-in {
  from {transform: scale(0);}
  to {transform: scale(1);}
}
@keyframes about-close-button-in-mobile {
  from {transform: scale(0);}
  to {transform: scale(.8);}
}
@keyframes about-hover {
  100% {background-color: #dfd3c3;}
}
/* mobile-about */
@media screen and (max-width: 760px){
  .about-frame {
    top: 30px;
    left: 30px;
    width: calc(100% - 72px);
    height: calc(100% - 72px);
    border: 8px solid #add2c9;
  }
  .about-profile {
    overflow-y: scroll;
    width: 80%;
    height: calc(100% - 76px);
    top: 40px;
    .about-title {
      height: 85px;
      top: 20px;
      .about-title__avatar {
        top: -60px;
      }
    }
    .about-info {
      top: 20px;
      .about-info-list {
        font-size: 10px;
        margin-left: 50px;
        width: 80%;
      }
    }
  }
  .about-close {
    animation: about-close-button-in-mobile .2s .5s forwards;
  }
}