<main id="stage">
    <!--************************ preload ************************-->
    <div class="preload">
        <div class="pre-chars">
          <span></span><span></span>
          <span></span><span></span>
        </div>
        <div class="pre-bg">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div id="pre-skip">
          <div>S</div>
          <div>K</div>
          <div>I</div>
          <div>P</div>
        </div>
    </div>
    <!--************************ chapters ************************-->
    <div class="chapters">
        <!-- chapter 1 -->
        <section class="chapter-1 views">
            <div class="c1-show">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="c1-lines">
                <div class="c1-lines__part1">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="c1-lines__part2">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="c1-rotate">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="c1-switch__type1">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="c1-title">
                <div class="title-frame">
                    <span></span><span></span>
                </div>
                <div class="title-words"></div>
            </div>
            <div class="c1-rainy">
                <div class="c1-rainy__up">
                    <div></div><div></div><div></div>
                </div>
                <div class="c1-rainy__cloud"></div>
                <div class="c1-rainy__title">
                    <span></span><span></span>
                </div>
                <div class="c1-rainy__fall">
                    <span></span><span></span><span></span><span></span>
                    <span></span><span></span><span></span><span></span>
                </div>
                <div class="c1-rainy__wave">
                    <span></span><span></span><span></span><span></span>
                    <span></span><span></span><span></span><span></span>
                </div>
                <div class="c1-rainy__ripple">
                    <span></span><span></span><span></span><span></span><span></span>
                </div>
            </div>
            <div class="c1-night">
                <div class="c1-night__in">
                    <div></div>
                    <div></div>
                    <span></span>
                </div>
                <div class="c1-night__stars"></div>
                <div class="c1-night__title"></div>
                <div class="c1-night__clothes">
                    <div></div>
                    <div></div>
                </div>
                <div class="c1-night__shine">
                    <div></div><div></div><div></div><div></div><div></div>
                </div>
                <div class="c1-night__wrap">
                    <div></div><div></div><div></div><div></div>
                </div>
            </div>
            <div class="c1-switch__type2">
                <div></div><div></div><div></div>
            </div>
            <div class="c1-slogan">
                <div></div><div></div><div></div>
            </div>
            <div class="c1-sunny">
                <div class="c1-sunny__in">
                    <div></div><div></div><div></div><div></div><div></div>
                </div>
                <div class="c1-sunny__cards">
                    <section class="part-1">
                        <div></div><div></div>
                    </section>
                    <section class="part-2">
                        <span></span>
                        <div></div><div></div>
                    </section>
                    <section class="part-3">
                        <div></div><div></div>
                    </section>
                </div>
                <div class="c1-sunny__lights">
                    <section class="part-1">
                      <div></div><div></div><div></div><div></div>
                      <div></div><div></div><div></div><div></div>
                      <div></div><div></div><div></div><div></div>
                    </section>
                    <section class="part-2">
                      <div></div><div></div><div></div><div></div>
                      <div></div><div></div><div></div><div></div>
                      <div></div><div></div><div></div><div></div>
                    </section>
                </div>
                <div class="c1-sunny__rotate"></div>
                <div class="c1-sunny__title"></div>
            </div>
        </section>
        <section class="chapter-1__extra">
            <div class="c1-seed">
                <div class="c1-seed__in">
                    <div></div><div></div>
                </div>
                <div class="c1-seed__title">
                    <div class="seed-frame">
                        <div></div><div></div><div></div><div></div>
                    </div>
                    <div class="seed-title">
                        <div class="part-1"></div>
                        <div class="part-2"></div>
                        <div class="part-3"></div>
                    </div>
                </div>
                <div class="c1-seed__out">
                    <div></div>
                    <div></div>
                </div>
            </div>
        </section>
    </div>
    <!--************************ index ************************-->
    <div class="main">
        <section class="page-frame">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </section>
        <section class="page-nav">
            <a class="page-nav__blog" target="_blank" href="https://cyris.pen.moe" title="Blog">
                <i class="czs-pen-write"></i>
            </a>
            <a class="page-nav__kiwi" target="_blank" href="https://kiwi-fruit.cyris.moe" title="KiwiFruit">
                <i class="czs-crown"></i>
            </a>
            <a class="page-nav__github" target="_blank" href="https://github.com/iCyris" title="GitHub">
                <i class="czs-github-logo"></i>
            </a>
            <a class="page-nav__weibo" target="_blank" href="https://twitter.com/cyris_moe" title="Twitter">
                <i class="czs-twitter"></i>
            </a>
        </section>
        <section class="page-title">
            <div></div>
        </section>
        <section class="page-char">
            <div class="chars char-part__1">
                <section>
                    <span></span><span></span><span></span><span></span>
                </section>
                <section>
                    <span></span><span></span><span></span><span></span>
                </section>
                <section>
                    <span></span><span></span><span></span><span></span>
                </section>
                <section>
                    <span></span><span></span><span></span><span></span>
                </section>
            </div>
            <div class="chars char-part__2">
                <section>
                    <span></span><span></span><span></span><span></span>
                </section>
                <section>
                    <span></span><span></span><span></span><span></span>
                </section>
                <section>
                    <span></span><span></span><span></span><span></span>
                </section>
                <section>
                    <span></span><span></span><span></span><span></span>
                </section>
            </div>
        </section>
        <section id="page-click">
            <div></div>
        </section>
    </div>
    <div class="about">
        <section class="about-frame">
            <div></div>
            <div></div>
        </section>
        <section id="about-close">
            <div></div>
            <div></div>
        </section>
        <section class="about-content">
            <div class="title">
                <span>About Me</span>
            </div>
            <div class="subtitle"></div>
            <div class="nickname"></div>
            <div class="avatar">
                <div></div>
            </div>
            <div class="title-line">Description</div>
            <div class="description">
                <div> 新出的芽用它的温柔融化了少年心中的墙堵箭影，「绿生」由此而生。我希望通过 Web 的方式来表现自己的内心世界，因不甘平庸而奋起，因不达目标而不懈。</div><br/>
                <div> 这里的生活是玫瑰色的。</div><br/>
            </div>
            <div class="title-line">Information</div>
            <div class="information">
            <div class="inner">
                <h4>ID</h4><p>Cyris ／ 绿生</p>
                <h4>兴趣</h4><p>Web、RPG、A3G，设计</p>
                <h4>喜欢的技术</h4><p>JavaScript、CSS、Python，illustrator</p>
                <h4>食物喜好</h4><p>口感纯净的牛奶、辣食、面食，汤</p>
                <h4>目前</h4><p>在读学生</p>
                <h4>邮箱</h4><p>cyris#pen.moe (# -> @)</p>
            </div>
            </div>
            <div class="title-line">Afterwords</div>
            <div class="description">
                <div> 感谢 yui540 创作的各种作品，无论是技术层面还是设计层面我都收获了很多。也感谢一直陪伴在我身边的人，我的每一段日常都是我的灵感来源。</div><br/>
                <div> "探求真理者不可心存傲慢。"</div><br/>
                <div> ©{{year}} Cyris. All rights reserved.</div><br/>
            </div>
        </section>
    </div>
</main>

<router-outlet></router-outlet>