* {
    margin: 0;
    padding: 0;
}
body {
    font: 1rem/1.8 "Lato", "Microsoft Jhenghei", "Hiragino Sans GB", "Microsoft YaHei", arial, sans-serif;
    background-image: url("../img/bgi.png");
}
.root {
    min-height: 100%;
    position: relative;
    padding: 0.625rem;
    margin: 13.125rem auto 0;
    width: 29rem;
}
.site-logo {
    margin-top: 23%;
}
.site-logo img {
    width: auto;
    height: auto;
    max-width: 30%;
    max-height: 30%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* Nav */
nav {
    position: fixed;
    left: 20px;
    top: 0;
    transform: rotate(90deg) translate3d(0,0,0);
    transform-origin: 0% 100%;
}
nav a {
    display: inline-block;
    position: relative;
    margin-top: 0.625rem;
    margin-left: 1rem;
    text-decoration: none;
    border-bottom: 0.125rem solid #cccccc;
    color: #2E343F;
    font-size: 1rem;
    cursor: crosshair;
    opacity: .6;
    transition: .3s all;
}
#aca {
    opacity: 1;
    border-bottom: 0.125rem solid #FB9966;
}
#nav-a:hover {
    border-bottom: 0.125rem solid #2EA9DF;
    opacity: 1;
}
#nav-b:hover {
    border-bottom: 0.125rem solid #6AA76E;
    opacity: 1;
}
#nav-c:hover {
    border-bottom: 0.125rem solid #4D4D4D;
    opacity: 1;
}
#nav-d:hover {
    border-bottom: 0.125rem solid #EB7A77;
    opacity: 1;
}
/* Welcome Page */
#button {
    letter-spacing: .6px;
    padding: 1px;
    position: fixed;
    right: 1.5rem;
    top: 1.5rem;
    cursor: pointer;
    display: block;
}
#button p{
    color: #2E343F;
    border: 1px solid #2E343F;
    padding: 9px 16px;
    transition: .2s all;
}
#button p:hover {
    background: #2E343F;
    color: #fff;
}
#about {
    letter-spacing: .3px;
    font-size: .7em;
    text-rendering: optimizeLegibility;
    position: fixed;
    height: 10rem;
    width: 12rem;
    right: 1.5rem;
    top: 5.8rem;
    cursor: auto;
    display: none;
}
#about p{
    border: 1px solid #2E343F;
    padding: 5px 10px;
    line-height: 2em;
    color: white;
    background: #2E343F;
}