* {
  margin: 0;
  padding: 0;
}
#root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  font: 1rem/1.8 "Lato", "Microsoft Jhenghei", "Hiragino Sans GB", "Microsoft YaHei", arial, sans-serif;
  background: url("../img/bg.png");
}
@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#site__logo {
  animation: fade_in .5s;
  img {
    width: auto;
    height: auto;
    max-width: 25%;
    max-height: 25%;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: fade_in .5s;
  }
}
#site__plant {
  :hover {
    cursor: pointer;
    animation: touch_plant .5s infinite;
  }
  img {
    width: auto;
    height: auto;
    position: absolute;
    max-width: 25%;
    max-height: 25%;
    top: 85%;
    left: 50.5%;
    transform: translate(-50%,-50%);
    animation: fade_in .5s;
  }
}
@keyframes touch_plant {
  0% {
    left: 50.5%;
  }
  20% {
    left: 50%;
  }
  40% {
    left: 51%;
  }
  60% {
    left: 50%;
  }
  80% {
    left: 51%;
  }
  100% {
    left: 50.5%;
  }
}
/*** Nav Line ***/
#site__nav {
  position: absolute;
  width: auto;
  height: auto;
  top: 1.5rem;
  left: 1.5rem;
  animation: fade_in .5s;
  a {
    text-decoration: none;
  }
  a:nth-child(1){
    div {
      display: inline-block;
      background-color: #333348;
      width: 30px;
      height: 30px;
      left: 0;
      }
    }
  a:nth-child(2){
    div {
      display: inline-block;
      background-color: #98BFBA;
      width: 30px;
      height: 30px;
      left: 30px;
      top: 0;
      margin-left: 8px;
    }
  }
  a:nth-child(3){
    div {
      display: inline-block;
      background-color: #E8EAEB;
      width: 30px;
      height: 30px;
      left: 60px;
      top: 0;
      margin-left: 8px;
    }
  }
}
/*** Welcome Page ***/
#site__button {
  letter-spacing: .6px;
  padding: 1px;
  position: fixed;
  right: 1.5rem;
  top: 1.5rem;
  cursor: pointer;
  display: block;
  animation: fade_in .5s;
  p{
    color: #2E343F;
    border: 1px solid #2E343F;
    padding: 9px 16px;
    transition: .2s all;
  }
  p:hover {
    background: #2E343F;
    color: #fff;
  }
}
#site__about {
  letter-spacing: .3px;
  font-size: .7em;
  text-rendering: optimizeLegibility;
  position: fixed;
  height: 10rem;
  width: 14rem;
  right: 1.5rem;
  top: 5.8rem;
  cursor: auto;
  display: none;
  animation: fade_in .2s;
  p{
    border: 1px solid #2E343F;
    padding: 5px 10px;
    line-height: 2em;
    color: white;
    background: #2E343F;
  }
}