/*************************************************************
    Keyframes - about
 *************************************************************/
@keyframes about-frame-in__1 {
    from {transform: translateY(-75px);}
    to {transform: translateY(0);}
}
@keyframes about-frame-in__2 {
    from {transform: translateY(75px);}
    to {transform: translateY(0);}
}
@keyframes about-line-in {
    from {transform: scale(1.2); opacity: 0;}
    to {transform: scale(1); opacity: 1;}
}
@keyframes about-close-in {
    from {
        transform: translate(130px, -130px);
        opacity: .8;
    } to {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}